---
import { Label } from "@/components/starwind/label";
---

<section class='design-card text-card-foreground'>
	<Label class='text-base font-semibold text-center block'>Lottie SVG Preview Toolbox</Label>
</section>
