<div class="preview-bg-white h-full flex items-center justify-center overflow-visible relative" id="preview-container">
	<div id="lottie-container" class="w-full h-full relative overflow-hidden"></div>
</div>
