---
import Check from "@tabler/icons/outline/check.svg";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div"> & {
	/**
	 * The value associated with this select item
	 */
	value: string;
	/**
	 * Whether this select item is disabled and cannot be selected
	 */
	disabled?: boolean;
	/**
	 * Custom background color for hover/focus states
	 */
	hoverColor?: string;
};

const selectItem = tv({
	base: [
		"starwind-select-item relative flex w-full cursor-pointer items-center rounded-sm py-1.5 pr-2 pl-8 outline-none select-none",
		"focus:outline-none",
		"data-[disabled]:pointer-events-none data-[disabled]:opacity-50",
		"not-aria-selected:[&_svg]:hidden aria-selected:[&_svg]:flex",
	],
});

const selectItemIcon = tv({ base: "absolute left-2 size-3.5 items-center justify-center" });

const { class: className, value, disabled, hoverColor = "#E8E8EB", ...rest } = Astro.props;
---

<div
	class={selectItem({ class: className })}
	data-value={value}
	data-disabled={disabled}
	aria-selected='false'
	role='option'
	tabindex='0'
	style={`--hover-color: ${hoverColor};`}
	{...rest}
>
	<span class={selectItemIcon()}>
		<Check class='size-4' />
	</span>
	<span>
		<slot />
	</span>
</div>

<style>
	.starwind-select-item:hover {
		background-color: var(--hover-color);
	}
	.starwind-select-item:focus {
		background-color: var(--hover-color);
	}
</style>
